:root {
  --color: rgb(137, 154, 154);
  --seccolor: rgb(183, 132, 132);
  --defpad: 25px;
}
* {
  margin: 0;
  padding: 0;
}
.nav {
  background-color: var(--color);
  height: 70px;
}
ul {
  display: flex;
}
ul li {
  padding: var(--defpad);
  /* border: 2px solid var(--seccolor); */
  list-style: none;
  box-sizing: none;
  margin-right: 200px;
}
ul li:first-child {
  --seccolor: rgb(240, 240, 98);
  background-color: var(--seccolor);
}
ul li:last-child {
  --color: rgb(227, 32, 32);
  background-color: var(--color);
}
ul li:nth-child(2){
  --color: rgb(227, 32, 32);
  background-color: var(--color);
}